@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-Regular.otf');
}

@font-face {
  font-family: 'Quicksand-Bold';
  src: url('assets/fonts/Quicksand-Bold.otf');
}

@font-face {
  font-family: 'Quicksand-BoldItalic';
  src: url('assets/fonts/Quicksand-BoldItalic.otf');
}

@font-face {
  font-family: 'Quicksand-Dash';
  src: url('assets/fonts/Quicksand-Dash.otf');
}

@font-face {
  font-family: 'Quicksand-Italic';
  src: url('assets/fonts/Quicksand-Italic.otf');
}

@font-face {
  font-family: 'Quicksand-Light';
  src: url('assets/fonts/Quicksand-Light.otf');
}

@font-face {
  font-family: 'Quicksand-LightItalic';
  src: url('assets/fonts/Quicksand-LightItalic.otf');
}

@font-face {
  font-family: 'Windsong';
  src: url('assets/fonts/Windsong.ttf');
}

html {
  font-family: Quicksand, sans-serif;
}

.kss-section {
  font-size: 1.6rem;
  line-height: 2;
}

.kss-navigation {
  padding: 0;
}

.kss-section {
  background-color: transparent;
  padding: 0;
}

.kss-nav__name,
.kss-nav__ref,
.kss-section__source,
.kss-parameters__description,
.kss-section__markup,
.kss-section__description p
{
  font-size: 1.4rem;
}

.kss-title {
  font-size: 2rem;
}

.kss-section__item {
  font-size: 3rem;
}

.kss-markdown h1,
.kss-markdown h2,
.kss-section__item,
.kss-navigation__title,
.kss-header__title,
.kss-title,
.kss-header,
.kss-header__hamburger,
.kss-modifiers__heading,
.kss-header__hamburger::before,
.kss-header__hamburger::after,
.kss-nav__item a.kss-state-active,
.kss-nav__item a:hover {
  color: #E57373;
}

.kss-header__hamburger,
.kss-header__hamburger::before,
.kss-header__hamburger::after {
  background: #E57373;
}

.kss-section__item--depth-3 {
  border-bottom: 0;
}

.kss-header__inner {
  padding: 0;
  margin: 0;
  background-color: transparent;
}
