@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-RegularItalic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-Light.otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('assets/fonts/Quicksand-LightItalic.otf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Quicksand-Dash';
  src: url('assets/fonts/Quicksand-Dash.otf');
}

.font-dash {
  font-family: Quicksand-Dash, sans-serif;
}

@font-face {
  font-family: 'Windsong';
  src: url('assets/fonts/Windsong.ttf');
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('assets/fonts/Proxima-Nova-Alt-Regular.eot');
  src: url('assets/fonts/Proxima-Nova-Alt-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/Proxima Nova Alt Regular.woff') format('woff'),
  url('assets/fonts/Proxima Nova Alt Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: Quicksand, sans-serif;
}

.kss-section {
  font-size: 1.6rem;
  line-height: 2;
}

.kss-navigation {
  padding: 0;
}

.kss-section {
  background-color: transparent;
  padding: 0;
}

.kss-nav__name,
.kss-nav__ref,
.kss-section__source,
.kss-parameters__description,
.kss-section__markup,
.kss-section__description p
{
  font-size: 1.4rem;
}

.kss-title {
  font-size: 2rem;
}

.kss-section__item {
  font-size: 3rem;
}

.kss-markdown h1,
.kss-markdown h2,
.kss-section__item,
.kss-navigation__title,
.kss-header__title,
.kss-title,
.kss-header,
.kss-header__hamburger,
.kss-modifiers__heading,
.kss-header__hamburger::before,
.kss-header__hamburger::after,
.kss-nav__item a.kss-state-active,
.kss-nav__item a:hover {
  color: #3F51B5;
}

.kss-header__hamburger,
.kss-header__hamburger::before,
.kss-header__hamburger::after {
  background: #3F51B5;
}

.kss-section__item--depth-3 {
  border-bottom: 0;
}

.kss-header__inner {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

code {
  font-size: 1.4rem;
}
