@font-face {
  font-family: 'Quicksand';
  src: url('Quicksand-Regular.3ce1580b66db6742cecd.otf'); }

@font-face {
  font-family: 'Quicksand-Bold';
  src: url('Quicksand-Bold.a1d3f9c43a9bb11db235.otf'); }

.font-bold {
  font-family: Quicksand-Bold, sans-serif; }

@font-face {
  font-family: 'Quicksand-BoldItalic';
  src: url('Quicksand-BoldItalic.a2d7d887f13f746c9d49.otf'); }

.font-bold-italic {
  font-family: Quicksand-BoldItalic, sans-serif; }

@font-face {
  font-family: 'Quicksand-Dash';
  src: url('Quicksand-Dash.80a67466fb37bc4635b2.otf'); }

.font-dash {
  font-family: Quicksand-Dash, sans-serif; }

@font-face {
  font-family: 'Quicksand-Italic';
  src: url('Quicksand-Italic.2aad7b7abf9f0d22014b.otf'); }

.font-italic {
  font-family: Quicksand-Italic, sans-serif; }

@font-face {
  font-family: 'Quicksand-Light';
  src: url('Quicksand-Light.2068ad55baae423c7409.otf'); }

.font-light {
  font-family: Quicksand-Light, sans-serif; }

@font-face {
  font-family: 'Quicksand-LightItalic';
  src: url('Quicksand-LightItalic.c9dca8a2d8f5b51d3992.otf'); }

.font-light-italic {
  font-family: Quicksand-LightItalic, sans-serif; }

@font-face {
  font-family: 'Windsong';
  src: url('Windsong.35d91ab1c219d92d0f3a.ttf'); }

.font-windsong {
  font-family: Windsong, sans-serif; }

@font-face {
  font-family: 'Quicksand';
  src: url('Quicksand-Regular.3ce1580b66db6742cecd.otf'); }

@font-face {
  font-family: 'Quicksand-Bold';
  src: url('Quicksand-Bold.a1d3f9c43a9bb11db235.otf'); }

.font-bold {
  font-family: Quicksand-Bold, sans-serif; }

@font-face {
  font-family: 'Quicksand-BoldItalic';
  src: url('Quicksand-BoldItalic.a2d7d887f13f746c9d49.otf'); }

.font-bold-italic {
  font-family: Quicksand-BoldItalic, sans-serif; }

@font-face {
  font-family: 'Quicksand-Dash';
  src: url('Quicksand-Dash.80a67466fb37bc4635b2.otf'); }

.font-dash {
  font-family: Quicksand-Dash, sans-serif; }

@font-face {
  font-family: 'Quicksand-Italic';
  src: url('Quicksand-Italic.2aad7b7abf9f0d22014b.otf'); }

.font-italic {
  font-family: Quicksand-Italic, sans-serif; }

@font-face {
  font-family: 'Quicksand-Light';
  src: url('Quicksand-Light.2068ad55baae423c7409.otf'); }

.font-light {
  font-family: Quicksand-Light, sans-serif; }

@font-face {
  font-family: 'Quicksand-LightItalic';
  src: url('Quicksand-LightItalic.c9dca8a2d8f5b51d3992.otf'); }

.font-light-italic {
  font-family: Quicksand-LightItalic, sans-serif; }

@font-face {
  font-family: 'Windsong';
  src: url('Windsong.35d91ab1c219d92d0f3a.ttf'); }

.font-windsong {
  font-family: Windsong, sans-serif; }

html {
  font-size: 10px; }

body {
  font-family: Quicksand, sans-serif;
  font-size: 10px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  margin: 0; }

h1 a:link, h1 a:visited,
  h2 a:link,
  h2 a:visited,
  h3 a:link,
  h3 a:visited,
  h4 a:link,
  h4 a:visited,
  h5 a:link,
  h5 a:visited,
  h6 a:link,
  h6 a:visited {
    color: #303F9F; }

h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover,
  h6 a:hover {
    color: #7986CB;
    text-decoration: underline; }

h1 a:active,
  h2 a:active,
  h3 a:active,
  h4 a:active,
  h5 a:active,
  h6 a:active {
    color: #3F51B5; }

h1 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.075rem;
  margin: 3rem 0; }

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 1.5rem 0; }

h3 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 1rem 0;
  padding-bottom: 0.2rem; }

h4 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.67rem 0; }

h5 {
  font-size: 1.8rem;
  margin: 0.94rem 0; }

h6 {
  font-size: 1.6rem;
  margin: 1rem 0; }

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.00rem; }
  h2 {
    font-size: 3.20rem; }
  h3 {
    font-size: 2.93rem; }
  h4 {
    font-size: 2.67rem; }
  h5 {
    font-size: 2.4rem; }
  h6 {
    font-size: 2.13rem; } }

@media screen and (min-width: 992px) {
  h1 {
    font-size: 4.80rem; }
  h2 {
    font-size: 3.84rem; }
  h3 {
    font-size: 3.52rem; }
  h4 {
    font-size: 3.2rem; }
  h5 {
    font-size: 2.88rem; }
  h6 {
    font-size: 2.56rem; } }

.header-styled {
  border-bottom: 1px solid #EF9A9A;
  color: #EF9A9A; }

p {
  margin-top: 1rem;
  margin-bottom: 1.5rem; }

p a:link, p a:visited {
    color: #303F9F; }

p a:hover {
    color: #7986CB;
    text-decoration: underline; }

p a:active {
    color: #3F51B5; }

a {
  text-decoration: none; }

body {
  margin: 0;
  min-height: 100vh;
  position: relative; }

.content {
  clear: both;
  font-size: 1.6rem;
  height: 100%;
  line-height: 2;
  padding: 2rem 2rem 8rem 2rem; }

@media screen and (min-width: 768px) {
  .content {
    font-size: 1.6rem;
    line-height: 2; } }

@media screen and (min-width: 992px) {
  .content {
    font-size: 1.8rem;
    line-height: 2.25; } }

section {
  background-color: #F4F4F4;
  padding: 2rem;
  margin-bottom: 1rem; }

section.subsection {
    padding: 0; }

@media screen and (min-width: 768px) {
  section {
    padding: 2rem;
    margin-bottom: 2rem; }
    section.subsection {
      padding: 1rem 2rem; } }

@media screen and (min-width: 992px) {
  section {
    padding: 2rem 4rem;
    margin-bottom: 2rem; }
    section.subsection {
      padding: 1rem 2rem; } }

aside {
  background-color: #F7F3EA;
  padding: 2em; }

/*# sourceMappingURL=styles.bundle.css.map*/